
@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 4px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background-image: linear-gradient(45deg, #4032f0, #77cccc);
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.number {
    height: 100px;
}

.one {
    position: absolute;
    border-radius: 4px;
    height: 100px;
    width: 24px;
    background-color: white;
    box-shadow: 0 0 13px 0 #0004;
    z-index: 100;
}

.one-2 {
    position: absolute;
    border-radius: 4px;
    height: 40px;
    width: 20px;
    left: -16px;
    top: 2px;
    background-color: white;
    box-shadow: 0 0 13px 0 #0004;
    transform: rotate(45deg);
    z-index: 99;
}

.zero-1 {
    position: absolute;
    border: white solid 25px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    left: 12px;
    box-shadow: 0 0 13px 0 #0004;
    z-index: 98;
}

.zero-2 {
    position: absolute;
    border: white solid 25px;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    left: 98px;
    box-shadow: 0 0 13px 0 #0004;
    z-index: 97;
}

.text-1 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 76px;
    margin: 0;
    font-weight: bold;
    letter-spacing: 4px;
    line-height: 70px;
}

.text-2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    font-weight: 600;
    margin: 0;
    display: flex;
    /* justify-content: space-between; */
    gap: 18px;
    letter-spacing: 1px;
    line-height: 18px;
}